body {
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: #333;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.draggable {
    padding: 0.25rem 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: move;
    width: fit-content;
    display: inline-block;
}

.program {
    background-color: #333;
    border: 1px solid black;
}

h1 {
    color: aquamarine;
    width: fit-content;
}

.draggable.dragging {
    opacity: .5;
}